
---
---

@import "{{ site.theme }}";

body {
  background: #111;
  color: #eee;
}

.wrapper {
  background: #111;
}

a {
  color: #66b3ff;
}

h1, h2, h3 {
  color: #fff;
}

header h1 a {
  color: #fff;
}

header p {
  color: #bbb;
}
